<section class="hero">
    <div class="container hero-container">
        <h1 class="hero-title">Unlock the Wonders of <br />
            <span class="reflect">Ukraine</span>
        </h1>

        <a class="hero-btn-tours" href="#our-tours">Our tours</a>


        <ul class="hero-soc-list">
            <li class="hero-soc-item">
                <a rel="noopener noreferrer" target="_blank" class="hero-soc-link" href="https://www.instagram.com">
                    <svg class="hero-soc-icon" width="28" height="28">
                        <use href="../img/sprite.svg#icon-instagram-logo"></use>
                    </svg>
                </a>
            </li>

            <li class="hero-soc-item">
                <a rel="noopener noreferrer" target="_blank" class="hero-soc-link" href="https://www.facebook.com">
                    <svg class="hero-soc-icon" width="28" height="28">
                        <use href="../img/sprite.svg#icon-facebook-logo"></use>
                    </svg>
                </a>
            </li>

            <li class="hero-soc-item">
                <a rel="noopener noreferrer" target="_blank" class="hero-soc-link" href="https://www.telegram.com">
                    <svg class="hero-soc-icon" width="28" height="28">
                        <use href="../img/sprite.svg#icon-telegram-logo"></use>
                    </svg>
                </a>
            </li>
        </ul>

    </div>
</section>