<section class="tours">
    <h2>Our tours</h2>

    <ul>
        <li>
            <img src="" alt="" srcset="">
            <h3>Lake Synevyr and Shipit waterfall</h3>

            <ul>
                <li>
                    <p>
                        Departure from Lviv (07:00) / Stryi (08:00)
                    </p>
                </li>
                <li>
                    <p>
                        Pylypets (overview of Shipit waterfall and lunch)
                    </p>
                </li>
                <li>
                    <p>
                        Synevyr Pass (photographing and viewing of Carpathian panoramas)
                    </p>
                </li>
                <li>
                    <p>
                        "Synevyr" National Park (brown bear rehabilitation center and transition to the lake)
                    </p>
                </li>
                <li>
                    <p>
                        Stryi (21:00)/Lviv (return by 22:00)
                    </p>
                </li>
            </ul>

            <p>Included:</p>

            <ul>
                <li>
                    <!-- svg -->
                    <p>Transfer</p>
                </li>
                <li>
                    <!-- svg -->
                    <p>Travel insurance</p>
                </li>
                <li>
                    <!-- svg -->
                    <p>Professional guide</p>
                </li>
                <li>
                    <!-- svg -->
                    <p>Travel insurance</p>
                </li>
            </ul>

            <button type="button">Book</button>
            <p>Price:</p>
            <p>2000 UAH</p>
        </li>


        <li>


            <img src="" alt="" srcset="">
            <h3>Ancient History & Vibrant Present</h3>
            <ul>
                <li>
                    <p>
                        Departure from Kiev (08:00)
                    </p>
                </li>
                <li>
                    <p>
                        St. Sophia's Cathedral (iconic UNESCO World Heritage site)
                    </p>
                </li>
                <li>
                    <p>
                        Golden Gate (historical monument visit)
                    </p>
                </li>
                <li>
                    <p>
                        Bessarabsky Market (tasting local delicacies)
                    </p>
                </li>
                <li>
                    <p>
                        Kiev Pechersk Lavra (exploration of the significant monastery)
                    </p>
                </li>
                <li>
                    <p>
                        Return to Kiev by 20:00
                    </p>
                </li>
            </ul>

            <p>Included:</p>

            <ul>
                <li>
                    <!-- svg -->
                    <p>Transfer</p>
                </li>
                <li>
                    <!-- svg -->
                    <p>Travel insurance</p>
                </li>
                <li>
                    <!-- svg -->
                    <p>Professional guide</p>
                </li>
                <li>
                    <!-- svg -->
                    <p>Travel insurance</p>
                </li>
            </ul>

            <button type="button">Book</button>
            <p>Price:</p>
            <p>3000 UAH</p>
        </li>

        <li>
            <img src="" alt="" srcset="">
            <h3>Black Sea Jewel</h3>

            <ul>
                <li>
                    <p>
                        Departure from Odessa (08:00)
                    </p>
                </li>
                <li>
                    <p>
                        Primorsky Boulevard (city's scenic walk)
                    </p>
                </li>
                <li>
                    <p>
                        Potemkin Steps (historical site and great city view)
                    </p>
                </li>
                <li>
                    <p>
                        Odessa Opera and Ballet Theatre (exterior visit)
                    </p>
                </li>
                <li>
                    <p>
                        Lunch at a local seafood restaurant
                    </p>
                </li>
                <li>
                    <p>
                        Return to Odessa by 20:00
                    </p>
                </li>
            </ul>

            <p>Included:</p>

            <ul>
                <li>
                    <!-- svg -->
                    <p>Transfer</p>
                </li>
                <li>
                    <!-- svg -->
                    <p>Travel insurance</p>
                </li>
                <li>
                    <!-- svg -->
                    <p>Professional guide</p>
                </li>
                <li>
                    <!-- svg -->
                    <p>Travel insurance</p>
                </li>
            </ul>

            <button type="button">Book</button>
            <p>Price:</p>
            <p>3500 UAH</p>
        </li>

    </ul>
</section>