@import url('./reset.css');
@import url('./common.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./tours.css');
@import url('./gallery.css');
@import url('./reviews.css');
@import url('./start.css');
@import url('./footer.css');

@font-face {
  font-family: 'Lato';
  src: local('Lato'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'),
    url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jomolhari';
  src: local('Jomolhari'),
    url('../fonts/Jomolhari-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}